/* Color Scheme
#D91136 - red
#1D3759 - navy
#4EA664 - green
#D9B573- tan yellow
#A6785D - brown
*/

/* General Styles */
* {
    box-sizing: border-box;
}
.wrapper {
    margin: 0 auto;
    width: 90%;
}
button {
    outline: none;
}
ul li {
    line-height: 2em;
}

/* Header Styles */
header {
    background-color: #4EA664;
}
#main-menu {
    display: flex;
    font-family: 'Quando', serif;
    justify-content: flex-end;
    padding: 1em;
}
.menu-link {
    color: white;
    padding-left: 2em;
    text-decoration: none;
}

/* Dropdown Menu Styles */
#yearsDropdown {
    margin-top: 2.5em;
    margin-left: -3.75em;
    padding: 0 0.75em;
    position: relative;
    transition: all 0.5s ease;
}
#yearsDropdown li a {
    color: white;
    text-decoration: none;
}
.hidden {
    display: none;
}

/* Main Styles */
h1 {
    font-family: 'Brawler', sans-serif;
    font-size: 3.6em;
    padding: 0.75em 0.5em;
    text-align: center;
}
.titleContainer {
    background-color: white;
    color: #1D3759;
}
.container {
    background-color: #1D3759;
    color: white;
    font-family: 'Brawler', sans-serif;
    min-height: 57.5vh;
}
.container.empty {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container .wrapper {
    display: flex;
    justify-content: space-between;
}
.groupContainer {
    border: 1px solid white;
    box-shadow: .75px .75px 1.25px 1.5px;
    color: white;
    margin: 2em 0.75em;
    padding: 1em;
}
.groupTitle {
    font-size: 2rem;
    margin-bottom: 0.3em;
}
ul li {
    line-height: 2em;
}
#addBtnContainer {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 40%;
}
#addBtnContainer button {
    background-color: #1D3759;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    padding: 1.25em 1em;
}
#addBtnContainer button:hover {
    background-color: white;
    border: thick double #1D3759;
    color: #1D3759;
}
#addBtnContainer button:active {
    transform: scale(0.95);
}
h3 {
    margin: 0 auto;
}

/* Baked Good Entry Modal */
#bakedGoodEntryDialog {
    background-color: #D91136;
    border: none;
    color: white;
}
#bakedGoodEntryDialog form {
    padding: 1em;
}
#bakedGoodEntryDialog form div {
    padding: 1em;
}
#bakeTypeRadio {
    display: flex;
}
#bakeTypeRadio input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
#bakeTypeRadio label {
    margin: 0 10px;
}
#bakeTypeRadio label:hover, #bakeTypeRadio input[type="radio"]:checked+label {
    background-color: white;
    color: #D91136;
}
input[type="text"] {
    display: block;
    font-size: 16px;
    margin: 0 auto;
    outline: none;
    padding: 5px 10px;
    width: 90%;
}
#bakeTypeRadio label, #submitBtn {
    border: 2px solid white;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 20px;
}
#submitBtn {
    background-color: white;
    color: #D91136;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    outline: none;
}
#submitBtn:hover {
    border: thick double #D91136;
}
#submitBtn:active {
    transform: scale(0.95);
}
dialog::backdrop {
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.7);
}

/* Footer Styles */
footer {
    background-color: #4EA664;
    color: white;
    padding: 1.25em;
}
footer .wrapper {
    display: flex;
    justify-content: space-around;
}