/* Color Scheme
#D91136 - red
#1D3759 - navy
#4EA664 - green
#D9B573- tan yellow
#A6785D - brown
*/

/* General Styles */
* {
    box-sizing: border-box;
}
.wrapper {
    margin: 0 auto;
    width: 90%;
}

/* Header Styles */
header {
    background-color: #4EA664;
}
#main-menu {
    display: flex;
    font-family: 'Quando', serif;
    justify-content: flex-end;
    padding: 1.25em;
}
.menu-link {
    color: white;
    padding-left: 2em;
    text-decoration: none;
}

/* Dropdown Menu Styles */
#yearsDropdown {
    margin-top: 2em;
    margin-left: -3.75em;
    padding: 0 0.75em;
    position: relative;
    transition: all 0.5s ease;
}
#yearsDropdown li a {
    color: white;
    line-height: 2em;
    text-decoration: none;
}
.hidden {
    display: none;
}

/* Main Styles */
h1 {
    font-family: 'Brawler', sans-serif;
    font-size: 3.6em;
    padding: 0.75em 0.5em;
    text-align: center;
}
.titleContainer {
    background-color: white;
    color: #1D3759;
}
.container {
    background-color: #1D3759;
    color: white;
    font-family: 'Brawler', sans-serif;
}
.container .wrapper {
    display: flex;
    justify-content: space-between;
}

/* Bake List Styles */
.groupContainer {
    border: 1px solid white;
    box-shadow: .75px .75px 1.25px 1.5px;
    color: white;
    margin: 2em 0.5em;
    padding: 1em;
}
.groupTitle {
    font-size: 2rem;
    margin-bottom: 0.3em;
}
.groupContainer input {
    font-size: 16px;
    outline: none;
    padding: 5px 10px;
}
.groupContainer ul li {
    line-height: 2em;
    padding-left: 5px;
}
.groupContainer ul li:not(:last-child) {
    border-bottom: 2px solid;
}